@import "defaults";

.grids-container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;

  &__grid {
    display: flex;
    flex-direction: column;
    flex-basis: 20vw;
    height: 50vh;
    padding: 1px;
    box-shadow: 0px 0px 3px #000;
    
    &__buttons {
      flex: 10;
      display: grid;
      grid-gap: .1rem;
      grid-template-columns: repeat(13, 1fr);
      grid-template-rows: repeat(13, 1fr);

      .white {
        background: rgb(216, 216, 213);
      }

      &__btn {
        font-size: .75rem;
        background: none;
        border-radius: .5rem;
        cursor: pointer;

        &:hover {
          opacity: .8;
        }
      }
    }

    &__title {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
    }
  }
}